---
title: Wedding Ceremony
---

#content
  .row
    .twelve.columns
      %h2 Wedding Ceremony
      %h3.subheader Wedding Ceremony will be held at the Holy Trinity Greek Orthodox Church of Greater Orlando.
      .row
        .six.columns
          %img{src: "/images/holy_trinity_01.jpg"}/

        .six.columns
          %p
            Wedding ceremony will start at 2pm and it usually takes about hour or hour and a half.

  .row
    .twelve.columns
      %h4 Location

      %p
        %strong Holy Trinity Greek Orthodox Church Of Greater Orlando
        %br
        1217 Trinity Woods Lane
        %br
        Maitland, FL 32751
        %br
      %p
        %iframe{:frameborder => "0", :height => "500", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Holy+Trinity+Greek+Orthodox+Church+of+Greater+Orlando,+Trinity+Woods+Lane,+Maitland,+FL&aq=0&oq=holy+trinity+greek+orthodox+church+of+greate&sll=28.640618,-81.386628&sspn=0.304931,0.617294&gl=us&ie=UTF8&hq=Holy+Trinity+Greek+Orthodox+Church+of+Greater+Orlando,+Trinity+Woods+Lane,+Maitland,+FL&t=m&ll=28.640619,-81.386633&spn=0.018832,0.021458&z=15&iwloc=A&output=embed", :width => "500"}
        %br/
        %small
          %a{:href => "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Holy+Trinity+Greek+Orthodox+Church+of+Greater+Orlando,+Trinity+Woods+Lane,+Maitland,+FL&aq=0&oq=holy+trinity+greek+orthodox+church+of+greate&sll=28.640618,-81.386628&sspn=0.304931,0.617294&gl=us&ie=UTF8&hq=Holy+Trinity+Greek+Orthodox+Church+of+Greater+Orlando,+Trinity+Woods+Lane,+Maitland,+FL&t=m&ll=28.640619,-81.386633&spn=0.018832,0.021458&z=15&iwloc=A", :style => "color:#0000FF;text-align:left"} View Larger Map

      %p.hide-for-small
        %h4 Orthodox Wedding Ceremony

        %p
          The Eastern Orthodox wedding ceremony is an ancient rite full of profound symbolism and meaning. The couple is led through the ceremony by their priest and their
          %i koumbaros
          , a best man who remains an important figure in the couple's life. Most rituals are performed three times to represent the Holy Trinity.
        %h4.subheader Betrothal Ceremony
        %p
          Eastern Orthodox weddings begin with a betrothal ceremony in which the rings are blessed. After reciting blessings and Bible passages, the priest makes the sign of the cross while holding the rings and declaring the betrothal. The priest may hold the rings in his hands while pressing the the bride and groom's forehead three times each. Then, either the priest or the koumbaros exchanges the rings between the couple's fingers three times, signifying that the weakness of one will be compensated by the other. Because the right hand has a rich and symbolic history in the church, the rings are usually placed on the third finger of the right hand.

        %h4.subheader Candles And Hand-Holding
        %p
          After the rings are exchanged (or sometimes beforehand) the priest gives the couple lit candles to hold in their left hands for the remainder of the service. The burning flames symbolize the couple's spiritual willingness to receive God's blessings. The priest also joins the couples right hands together while praying for their marriage. The bride and groom continue to hold hands during the ceremony as a symbol of their oneness.

        %h4.subheader Crowning
        %p
          The Crowning is the centerpiece of the Eastern Orthodox marriage ceremony. Garland wreaths are often fashioned into ornate crowns as a symbol of glory and honor. Crowns can also be made of orange blossom, myrtle leaves, semiprecious stones and metals, or threads of gold and crimson, which represent the royalty of marriage. The koumbaros presents the couple with two crowns joined by a white ribbon, symbolizing the couple's unity. The priest places the crowns on the couple's heads while they face the altar, then the koumbaros swaps the crowns on the couple's heads three times. According to ancient custom, the crowns are to stay with the couple for life (some couples are even buried in them!)

        %h4.subheader The Common Cup

        %p
          After the priest reads additional Bible passages, the bride and groom take three sips of wine from a shared cup. The ritual of the common cup is based on the wedding of Cana of Galilee, where Jesus turned water into wine. The cup represents life and symbolizes the couple's mutual sharing of joy and sorrow. As they drink wine from the common cup, they are reminded that from that moment they will share everything, doubling their joys and dividing their sorrows.

        %h4.subheader Circling The Table

        %p
          Following the common cup ritual, the priest (and sometimes the koumbaros too) leads the couple three times around the altar on which a Bible and cross rest. This ritual dance predates Christianity, representing the dance around the Ark of the Covenant. The choir sings three hymns as the couple circles the table. In this act, the couple takes their first steps as a married couple, with the Church (through the priest) leading them.

        %h4.subheader Traditional Blessings

        %p
          At the ceremony's end, the priest recites parting blessings upon the newlyweds. To the groom he may say: "Be thou magnified O Bridegroom, as Abraham, and blessed as Isaac and multiply as Jacob. Walk in peace and work in righteousness, as the commandments of God." To the bride he may say: "And thou O Bride, be though magnified as Sarah, glad as Rebecca and multiply like unto Rachel, rejoicing in thine own husband, fulfilling the conditions of the law, for so it is well pleasing unto God." Finally the ancient phrase, "Na zisete!" ("May you live!"), is exclaimed.


.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}
