---
title: Our Engagement
---

.row
  .twelve.columns.story
    %h2 Our Engagement

    %p
      It was a beautiful sunny afternoon in February as I was headed to get lunch.  I opened my email on my iphone and saw a ticket confirmation from Evgeniy.  I was thrilled to find that it was a ticket to Morocco.  By this time, it has almost been five months since we've seen each other.  The planning for our trip began.  I asked him several times for a copy of his itinerary, but somehow he managed to avoid the question.  I didn't think much of it until I saw him at the airport in Paris.  He booked our flights so that we would both fly in to Paris and take the same flight to Morocco!  We had an unforgettable week in Morocco riding camels, bartering with merchants, exploring the different terrain and enjoying Moroccan cuisine.

.row
  .four.columns.polaroid.rotate-left
    %a{href: "#", title: "Riad Lapis Lazuli"}
      %img{ src: "/images/big-riad-lapis-lazuli-piscine.jpg", alt: "Riad Lapis Lazuli"}
  .eight.columns
    %p
      We stayed in a
      %i riad -
      a bed & breakfast with a courtyard inside.  It was February 28, 2012, and we had spent the day enjoying the breathtaking views of the Atlas mountains and exploring the city of Ouarzazate.  This city is the gateway to the desert and also the home of Atlas Studios.  We reenacted "The Mummy," "Gladiator," and "Cleopatra," just to name a few.  It was a day full of adventure.

.row
  .eight.columns
    %p
      Instead of stopping somewhere for dinner, Evgeniy insisted that we have dinner at the riad.  The owner prepared the best couscous meal that I ever had especially for us!  He made couscous with lamb, beef, chicken, and just about every vegetable imaginable.  Evgeniy and I had a private dinner in the courtyard with the open sky above us.  It was there that he popped the question, Oksana Leonidovna Pavlov, will you be my wife?

.row
  .twelve.columns.story
    %h3 Even Shorter Version From Evgeniy :)
    %p
      We have traveled to Morocco in Febraury 2012. Initially my idea was to get engaged on February, 29th. However everything fell into place earlier and due to various circumstances including, but not limited to the opportunity to have a good local chef around - I proposed a day earlier at the scrumptios dinner - couscous - that was cooked for four hours.

.row
  .twelve.columns
    %h2.subheader Some of pictures that we have taken in Morocco
.row
  .twelve.column
    #galleria.twelve.columns
      - (1..15).each do |file|
        %img{src: "/images/gallery/morocco/#{file}.jpg" }
.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}

:javascript
  Galleria.loadTheme('/javascript/galleria/themes/classic/galleria.classic.min.js');
  Galleria.run('#galleria');


