---
title: Photo Gallery
---

.row
  .twelve.columns.story
    %h3 Some of Our Pictures Together

    - @item.children.each do |img|
      %a{class: 'fancybox', rel: 'pics-together', href: img.path, title: img[:title]}
        %img{src: img.path(rep: :thumbnail) }
.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}

:javascript
  $(document).ready(function() {
    $(".fancybox").fancybox({
      openEffect	: 'none',
      closeEffect	: 'none'
    });
  });
