---
title: Gifts Information
---

.row
  .twelve.columns
    %h4.subheader
      If you decided to give a gift to the newlywed couple, we thank you.

.row
  .twelve.columns
    %h5.subheader
      We registered for the following registries:
.row
  %a{href: "http://www1.macys.com/registry/wedding/guest/?registryId=43028", title: "Registry at Macy's"}
    %img{src: '/images/macys-logo.jpg'}

.row
  .twelve.columns
    %h5.subheader
      Other accepted gifts include but not limited to cash, treasury bonds, checks.

.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}
