---
title: Welcome to Oksana and Evgeniy
first_row: {engagement: "Engagement", ceremony: "Ceremony", reception: "Reception", party: "Wedding Party"}
second_row: { gallery: "Photo Gallery", gifts: "Wedding Registry", info: "Guest Info"}
positions: {engagement: "rotate-left move-up", ceremony: "move-down", reception: "rotate-left move-left", party: "rotate-right", gallery: "move-right", gifts: "rotate-left move-up", info: "move-down rotate-right"}
---
#content
  .row
    .twelve.columns
      #two-heads.row
        / Header Content
        .six.columns.offset-by-six
          .panel.transparent.story
            %a{:href => "/story/"}
              %h3 Our Story
              %hr/
              %p
                It all began when our dear friends, Maha and Peter Gadah, introduced us in August of 2010.  After multiple attempts, Evgeniy
                %span.bigger &rarr;
          .row
            .six.mobile-two.columns
              .polaroid.rotate-left
                %a{ href: "/oksana/", title: "Bride" }
                  %img.pic{ src: "/images/oksana.jpg" }

            .six.mobile-two.columns
              .polaroid.rotate-right
                %a{ href: "/evgeniy/", title: "Groom" }
                  %img.pic{ src: "/images/evgeniy.jpg"}

      .twelve.columns
        &nbsp;
      / End Header Content

    / Start Thumbnails
    .row
      - item[:first_row].each_pair do |key, desc|
        .three.mobile-two.columns
          .polaroid{ class: "#{item[:positions][key]}"}
            %a{ href: "/#{key}/", title: "#{desc}" }
              %img.thumb{ src: "/images/#{key}_cover.jpg" }

    / second row of things
    .row
      - item[:second_row].each_pair do |key, desc|
        .four.mobile-two.columns
          .polaroid{ class: "#{item[:positions][key]}"}
            %a{ href: "/#{key}/", title: "#{desc}" }
              %img.thumb{ src: "/images/#{key}_cover.jpg" }

    / End Thumbnails

