---
title: Information For The Guests
---

.row
  %h3 Accomodation
  %h3.subheader
    Orlando is home to world renown attactions, theme parks and resorts. There are many accomodation options to choose from-from the luxurious Ritz-Carlton to a small bed and breakfast. We decided not to block any rooms, but if you need help with hotel recommendations, please don't hesitate to contact us. A few areas that you can look at are:
    %br
    International Drive
    %br
    Sand Lake/Universal Studios Area
    %br
    Disney
    %br
    Celebration
    %br
    Another good way of finding a hotel to look for the "getaway" deals on Groupon or LivingSocial.
 
.row
  %h3 Transportation
  %h3.subheader
    Orlando has a pretty good bus system &mdash; Lynx; however, it is far from ideal. In addition, Disney operates shuttles providing transportation between the airport, Disney theme parks, and resort areas. Nevertheless, we would recommend either renting a car or getting a taxi.

.row
  %h3 Orlando Attractions
  %h3.subheader
    Aside from our  wedding, if you're planning on staying for a few extra days, here's a list of parks and attractions in Orlando:
    %br
    Disney Parks-Epcot, Animal Kingdom, Magic Kingdom, and Hollywood Studios
    %br
    Disney Waterparks: Blizzard Beach and Typhoon Lagoon
    %br
    Universal Studios
    %br
    SeaWorld
    %br
    Aquatica
    %br
    LEGOLAND
    %br
    Wet 'n Wild
    %br
    Ripley's Museum
    %br
    Upside-down house aka Wonderworks.

  %h3 Areas to Dine and Unwind
  %h3.subheader
    Thornton Park
    %br
    Pointe Orlando
    %br
    Disney downtown
    %br
    Disney boardwalk
    %br
    CityWalk at Universal Studios
    %br
    International Drive
    %br
    West Sand Lake
    %br
    Park Avenue
    %br
    Celebration

.row
  %h3 Safety
  %h3.subheader Just avoid Parramore and streets to the west and south of it. Orange Blossom Trail or OBT is not the safest at night time either. Other than that it is pretty safe. Well, just in case, avoid wearing a hoody.

.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}


