---
title: Oksana's Story
---

.row
  .twelve.columns.story
    %h2 The Story Of Oksana
    
    %p
      I come from a large family and am proud to say that I have six sisters and three brothers--Tatyana, Viktor, Tamara, Natalia, Nancy, Christina, Steven, Jason, and Carina.  But it doesn't stop there.  Our family just keeps growing with the recent additions to the family-my sister in law Julie, who married my brother Viktor, and Alexander, who married my sister Natalia.
    %p
      My parents, Leonid and Svetlana, are truly my heroes.  They moved our family to the States on January 24, 1992-right after the fall of the Soviet Union.  At the time, they had five children, but they weren't afraid to leave everything behind in hopes of giving their children a chance of a prosperous and a secure life.
    %p
      I grew up in a beautiful small town of Lewisburg, which is close to Harrisburg &mdash; the capital of Pennsylvania.  Wanting to experience city life, I moved to Pittsburgh to study at the University of Pittsburgh.  I went on to receive my Bachelors degree in Economics and Business.  During my time in college, I was privileged to study abroad three times-in Moscow, Cyprus, and Bulgaria.  During those study abroad trips, I fell in love with traveling.  I got the chance to visit Egypt, Jordan, Turkey, Greece, Romania, Hungary, Czech Republic, Slovakia, Austria, and Germany.  Upon graduating from the University of Pittsburgh in 2007, I moved to Orlando, FL.  It was here that I met Evgeniy.  I am happy to have met my fiance who shares my passion for cultures and travel.  Together we traveled to Russia, Israel, and Morroco.  I can't wait to see where else life will lead us...

.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}

