---
title: Wedding Party
---

.row
  .twelve.columns
    .row
      .ten.columns.offset-by-two
        %h2 The Bride’s Side
    .row
      .three.columns
        %img{src: "/images/party/nat.jpg"}/
      .nine.columns
        %h4 Natalia Skotedis
        %h4.subheader  Maid of Honor
        %p Natalia is one of my sisters.  She recently got married to Alexander Skotedis on July 14, 2012.  They live in Shamokin Dam, PA, but come down to Jupiter Island, FL for a few weeks every year.  She is very compassionate and is always taking care of all of us.  Natalia works as a Paralegal and is busy taking care of her three cats.

    .row
      .three.columns
        %img{src: "/images/party/kara.jpg"}/
      .nine.columns
        %h4 Kara Fives
        %h4.subheader  Bridesmaid
        %p Kara is one of my closest friends here in Orlando.  We have many memories together as Kara and PJ and Evgeniy and I hang out a lot.  Kara has always been a true friend, lending an ear when I have to vent.  She's my personal shopping consultant and fashion advisor.
    .row
      .three.columns
        %img{src: "/images/party/nancy.jpg"}/
      .nine.columns
        %h4 Nancy Pavlov
        %h4.subheader Bridesmaid
        %p Nancy is also my sister.  She was the first child born in U.S. and received the honor of being named after Nancy Reagan.  Aside from that, Nancy has a bubbly personality, a contagious laugh, and always a willingness to help.  She's currently living in Rochester, NY, and is exceling in the Nursing Program at the University of Rochester.

    .row
      .ten.columns.offset-by-two
        %h2 The Groom’s Side

    .row
      .three.columns
        %img{src: "/images/party/chris.jpg"}/
      .nine.columns
        %h4 Christopher Burdette
        %h4.subheader  Koumbarous and Best Man
        %p Chris is a great engineer at Siemens who is also pursuing spiritual goals. When he is not investigating turbine failures or studying for the deacon program, he spends his time with his lovely wife and two amazing daughters.

    .row
      .three.columns
        %img{src: "/images/party/pj.jpg"}/
      .nine.columns
        %h4 PJ Kapsales
        %h4.subheader Groomsman
        %p PJ is a lawyer from New Jersey.  He's the spokesman of the group if things don't go right.  Perhaps it's his Greek heritage or his enthusiam for food, but I have to say, he's a darn good cook!  He's also a die hard FIU and Yankees fan.

    .row
      .three.columns
        %img{src: "/images/party/alex.jpg"}/
      .nine.columns
        %h4 Alexander Skotedis
        %h4.subheader Groomsman
        %p Alexander is the latest addition to the family.   He runs three restaurants-Tedd's Landing, Skeeter's BBQ, and Tedd's on the Hill.  Skeeters has the best bar-b-que by far!  In his spare time, he likes to build things.  His latest masterpiece is the cabin that he build for his family.  It's truly a piece of art.

.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}
