---
title: Reception
---

.row
  %h2 Reception

  %h3.subheader The reception is going to be held at the Courtyard At Lake Lucerne in Downtown Orlando - one of the nationally registered historical inns.

.row
  .six.columns
    %img{ src: "/images/courtyard.jpg"}
  .six.columns
    %p The Courtyard At Lake Lucerne is actually two inns in one spot. Our reception is at the I.W. Phillips House. Not to be confused with Dr. Phillips House, which is most likely going to have another event hosted there.

    %p The cocktail hour will start at 5 pm. It will be followed by a fine buffet dinner along with some dancing, slide show, music, and possibly, singing.

.row
  %h3.subheader Location

  %p
    /  %address
    %strong The Courtyard at Lake Lucerne
    %br/
    I. W. Phillips House
    %br/
    211 N Lucerne Circle East
    %br/
    Orlando, FL 32801
    %br/
    Phone: (407) 648-5188

  %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=courtyard+at+lake+lucerne&fb=1&gl=us&hq=courtyard+at+lake+lucerne&hnear=courtyard+at+lake+lucerne&cid=0,0,1916571232234577363&t=m&ll=28.535464,-81.375518&spn=0.006598,0.00912&z=16&iwloc=A&output=embed", :width => "425"}
  %br/
  %small
  %a{:href => "https://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=courtyard+at+lake+lucerne&fb=1&gl=us&hq=courtyard+at+lake+lucerne&hnear=courtyard+at+lake+lucerne&cid=0,0,1916571232234577363&t=m&ll=28.535464,-81.375518&spn=0.006598,0.00912&z=16&iwloc=A&source=embed", :style => "color:#0000FF;text-align:left"} View Larger Map

.row
  %h3.subheader Parking Situation
  %p
    There is a parking garage next to the Courtyard with the entrance from Delaney Ave. Parking there is free for the guests. Also there are a few parking places behind the Courtyard, but they are few and quickly run out.

.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}

