---
title: Our Story
---

.row.story
  %h2 Our Story

  %p
    It all began when our dear friends, Maha and Peter Gadah, introduced us in August of 2010.  After multiple attempts, Evgeniy and I finally met for lunch on September 11, 2010, in Baldwin Park at Colibri Mexican Cuisine.  Throughout our three hour lunch, we found that we have a lot in common.  Afterwards, we got some tea at Barnie's Coffee and walked by the lake in the sweltering heat, but if truth be told, we were both trying to stretch out our lunch date as much as possible.  It was clear from the moment we met that we were both very attracted to each other.

  %p
    The next day Evgeniy called and since then, we saw each other almost every day.  Life was beautiful.  He came with me to PA for Christmas to meet my family.  I got the chance to meet his mom when she came to visit in May, 2011.  She urged us to come to Perm, Russia to meet the rest of the family.  On August 24, 2011, we flew to Russia.  What should have been a simple visit to the Consulate, became a nightmare.  Evgeniy didn't receive his stamp to come back to the States.  It was the hardest goodbye we've ever had to say.

  %p
    With so much uncertainly, I was pleasantly surprised when I received an email from Evgeniy with tickets to Morocco.  We met up in Morocco in February , 2012, and that's where he proposed.

  %p
    The long awaited reunion finally came when I picked him up at the airport on November 24, 2012.  We're so happy to finally be together and can't wait until you join us for our celebration when we become one.

.row
  .twelve.columns
    .centered
      %a{href: "/"}
        %img{src: "/images/divider.png"}
