!!! 5

/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8]<!--> <html class="no-js" lang="en"> <!--
%head
  %meta{ :charset => "utf-8" }
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
  %title= @item[:title]
  %meta{ :name => "description", :content => "Wedding of Oksana Pavlov and Evgeniy Sharapov on February, 23, 2013" }
  %meta{ :name => "author", :content => "Evgeniy Sharapov" }
  %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}" }
  / Set the viewport width to device width for mobile
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  -# Place favicon.ico and apple-touch-icon.png in the root directory
  %link{ :rel => "stylesheet", :href => "/css/style.css" }
  %script{ :src => "/js/vendor/modernizr.js" }
  / Included CSS Files
  %link{:href => "/css/app.css", :rel => "stylesheet"}/
  %link{:href => "/css/fc-webicons.css", :rel => "stylesheet"}/
  %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
  %script{src: "/javascript/galleria/galleria-1.2.8.min.js"} /
  / fancybox
  %link{ rel: "stylesheet", href: "/javascript/fancybox/jquery.fancybox.css", type: "text/css", media: "screen"}
  %script{src: "/javascript/fancybox/jquery.fancybox.pack.js"}
  %script{src: "/javascript/fancybox/jquery.mousewheel-3.0.6.pack.js"}
  / optional fancybox
  %link{rel: "stylesheet", href: "/javascript/fancybox/helpers/jquery.fancybox-buttons.css", type: "text/css", media: "screen"}
  %script{src: "/javascript/fancybox/helpers/jquery.fancybox.buttons.js"}
  %script{src: "/javascript/fancybox/helpers/jquery.fancybox.media.js"}

  / Fonts
  %link{ href: 'http://fonts.googleapis.com/css?family=Lato|Dancing+Script|Open+Sans&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css'}

  %meta{ property: "og:title", content: "Evgeniy and Oksana Wedding"}
  %meta{ property: "og:type", content: "website"}
  %meta{ property: "og:url", content: "http://www.evgeniyandoksana.com"}
  %meta{ property: "og:image", content: "http://www.evgeniyandoksana.com/images/gallery_cover.jpg"}
  %meta{ property: "og:site_name", content: "Evgeniy And Oksana"}
  %meta{ property: "fb:admins", content: "9509130"}

%body
  #fb-root
  :javascript
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  /[if lt IE 7 ]
    %p.chromeframe
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> or
      <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
      to improve your experience.

  -# #ribbon

  -# .row
  -#   .twelve.columns
  -#     / Navigation
  -#     %ul.nav-bar
  -#       %li.active
  -#         %a{:href => "#"} Where To Stay
  -#       %li
  -#         %a{:href => "#"} What To Do
  -#       %li
  -#         %a{:href => "#"} When To Come
  -#     / End Navigation

  = yield

  / Footer
  %footer
    .row
      .ten.columns.social
        %h5.subheader
          &copy; 2013 Evgeniy and Oksana are Getting Married | Saturday, February 23rd 2013 | Orlando FL
      .two.columns.social
        .row
          .four.columns
            %a{ id: "leaving-email-button", class: "fc-webicon mail small", href: "#", data: { "reveal-id" => "leaving-email"},  title: "Subscribe to email updates."} Mai
          .four.columns
            %a{ class: "fc-webicon rss small", href: "/rss.xml", title: "Subscribe to updates via RSS."} RSS
          .four.columns
            .fb-like{ data: {href:"http://www.evgeniyandoksana.com", send:"false", layout: "button_count", width: "450", "show-faces" => "false", font: "verdana"}}
    .row
      .two.columns.offset-by-ten
        %a{href: "mailto:somebody@evgeniyandoksana.com"} Contact Us

/ End Footer

#leaving-email{ class: "reveal-modal" }
  %h4 Leave Your Email For Updates
  %hr
  %p
    Stay in touch with us. We will email you important information, changes and updates as the wedding day is getting closer.
    .error{style: "color: red;"} &nbsp;

    %form#email_update
      %input{ type: "email", name: "email", placeholder: "somebody@email.com"}
      %input{ id: "submit_email_button", type: "button", class: "button", value: "Keep Me Informed"}
      :javascript
        $(document).ready(function() {
          $("#submit_email_button").on("click", function() {
            $.post('update_email.cgi', $('#email_update').serialize(),function(data) {
              $('#leaving-email').trigger('reveal:close');
            })
            .error(function(jqXHR, textStatus, errorThrown) { $('.error').html("Some Error happened on the server. Come back later"); });
          });
        });
  %a{class: "close-reveal-modal"}
    &times;


:javascript
  $(document).ready(function() {
    $("#leaving-email-button").click(function() {
      $("#leaving-email").reveal();
    });
  });

-# compressed javascript that contains all others
%script{ :src => '/js/application.js' }

-# Google Analytics
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37369470-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
