.row
  .twelve.columns
    / Navigation
    %ul.nav-bar
      %li.active
        %a{:href => "#"} Where To Stay
      %li
        %a{:href => "#"} What To Do
      %li
        %a{:href => "#"} Who To Call
    / End Navigation
