// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

//--------------------------------------------------

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

// Box shadow with custom settings
.cover {
  @include box-emboss(0.8, 0.05);
}

body {
  background: url('/images/creampaper.png');
  background-repeat: repeat;
}

#content {
}

#ribbon {
  background: url("/images/ribbon_2.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  margin-left: 3em;
  height: 150px;
  width: 100px;
  z-index: 100;
}

#two-heads{
  background: url('/images/two-heads.jpg');

  .transparent {
    @include opacity(0.8);
  }

  img {
    .pic {
      width: 300px;
    }
  }
}


#galleria{height: 500px;}

.polaroid {
  a {
    background: white;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    @include single-box-shadow(rgba(0, 0, 0, .25), 0, 3px,6px);
    @include single-transition(trnasform, .15s, linear);
  }

  a:after {
    content: attr(title);
  }

  a:hover {
    @include scale(1.5, 1.5);
    position: relative;
    z-index: 5;
  }

  img {
    display: block;
    width: 190px;
    margin-bottom: 12px;
  }
}
.rotate-left {
  a {
    @include rotate(-2deg);
  }
}
.rotate-right {
  a {
    @include rotate(5deg);
  }
}
.move-up {
  a {
    position: relative;
    top: 10px;
  }
}
.move-down {
  a {
    position: relative;
    top: -10px;
  }
}
.move-left {
  a {
    position: relative;
    left: -6px;
  }
}
.move-right {
  a {
    position: relative;
    left: 10px;
  }
}


p {
  font: {
    family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
    weight: 400;
    style: normal;
    size: 140%;
  }
  line-height: 1.3;
  color: #333;
  @include letterpress(0.8);
}


.story {
  h1, h2, h3, h4 {
    font: {
      family: 'Dancing Script', cursive;
    }
    color: #333;
    @include letterpress(0.8);
  }

  h1 { font-size: 700%; }
  h2 { font-size: 500%; }
  h3 { font-size: 350%; }
  h4 { font-size: 180%; }
}

.bigger {
  font-size:120%;
}

.centered {
  text-align: center;
}

footer {
  background: #dfdfdf url(/images/footer-shadow.png) repeat-x;
  //background: whiteSmoke url(/images/footer-shadow.gif) no-repeat top center;
  clear: both;
  position: relative;
  padding-bottom: 5em;
}

.social {
  padding-top: 1em;
  @include letterpress(0.8);
}
